body
{
  background-image: url('noise.png');
  background-repeat: repeat;
  margin: 0px;
  width: 585px;
  font-family: 'Voces',Helvetica,Arial,sans-serif;
  font-size: 12px;
}
.filterbox p
{
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 6px;
  color: #343434;
}
div {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
div.content
{
  top: 80px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 15px;
}

.copy {
    color: #333333;
}
.counter {
    color: #2e5e66;
    font-size: 80px;
    letter-spacing: -5px;
    margin: -15px 20px;
}
.filterbox
{
  margin-top: 15px;
  background-color: #ffffff;
  text-align: left;
  padding: 12px 18px;
  font-size: 10px;
  color: #666666;
}
#head
{
  margin-top: 0px;
  font-size: 20px;
  color: #343434;
  margin-bottom: 2px;
}
.line
    {
      height: 2px;
      width: auto;
      background: url('line.png');
      background-repeat: repeat-x;
    }
.lineV
{
  float: right;
  width: 2px;
  height: 39px;
  background: url('lineV.png');
  background-repeat: repeat-y;
  display: block;
}
label
{
  font-size: 8pt;
  color: #999999;
}
a
{
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
a:focus 
{
  text-decoration: none;
  outline: inset;
  outline-width: 1px;
  outline-color: #2e5e66;
}
a.arrow
{
  margin-top: -10px;
  font-weight: 500;
  background:url("arrow.png");
  background-repeat: no-repeat;
  background-position: left;
  font-size: 11px;
  color: #666666;
  text-decoration: none;
  padding-left: 8px;
}
a.arrow:hover
{
  background:url("arrowActive.png");
  background-repeat: no-repeat;
  background-position: left;
  color: #2e5e66;
}
.socialBar
{
  height: 40px;
}
a.imgButton
{
  float: right;
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 0px;
}
a[class~=faceBook]
{
  background: url('fbButton.png') top left; 
}
a[class~=twitter]
{
  background: url('twitterButton.png') top left; 
}
a[class~=embed]
{
  background: url('embedButton.png') top left; 
}
a.imgButton:hover
{
  background-position: top right;
}
.agka
  {
    background:url("agka.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 151px;
    height: 15px;
    display: inline-block;
    margin-bottom: -3px;
  }
div.tggItem
{
  margin-top: 5px;
  height: 50px;
  width: 100%;
  position: relative;
}
.toggleBig{
   background:url("switchBig.png") bottom left;
    display:block;
    width:108px;
    height:37px;
}
.toggle{
   background:url("switch.png") bottom left;
    display:block;
    width:61px;
    height:21px;
    margin-top: 11px;
}
.toggle.checked{
  background-position:top left;
}
.toggleBig.checked{
  background-position:top left;
}
.toggleWrapper{
  position: absolute;
}
.toggleWrapper.left{
  left: 0px;
}
.toggleWrapper.right{
  right: 0px;
}